{% extends 'base1.html' %}

{% block title %}
<title>О магазине</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про магазин</h1>
    <p> это ведущий интернет-магазин, который предлагает широкий ассортимент товаров для всей семьи. Мы являемся надежным партнером для наших клиентов, предлагая только качественные продукты
      от проверенных производителей.

Мы ценим каждого покупателя и стремимся сделать его опыт покупок у нас приятным и удобным. Наша команда профессионалов всегда готова помочь с выбором товара, ответить на вопросы и обеспечить
      быструю доставку</p>
</div>

{% endblock %}


