{% extends 'base1.html' %}

{% block title %}
<title>Конфиденциальность</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про магазин</h1>
    <p>Политика конфиденциальности ООО «ClickMart» действует в отношении персональных данных, предоставляемых клиентами компании, как для оказания различного рода услуг, так и осуществления иного взаимодействия, как правило, в электронном формате, а также при участии клиентов в акциях компании, оказании технической поддержки клиенту и обслуживанию по гарантии.
ООО «ClickMart» оставляет за собой право вносить изменения и дополнения в действующие положения Политики конфиденциальности, при этом данные изменения и дополнения будут иметь преимущество над действующими положениями Политики. Обращаем внимание, предоставляемые ООО «ClickMart» услуги могут содержать ссылки на третьих лиц, имеющих собственные положения Политики защиты частной информации. В таких случаях ООО «ClickMart» не несет ответственности за содержание и соблюдение положений Политики конфиденциальности любой сторонней компании. Предоставляя ООО «ClickMart» свои персональные данные, клиент дает полное согласие на их обработку способами, предусмотренными действующими положениями Политики конфиденциальности компании.
Порядок сбора, хранения и уничтожения персональных данных
ООО «ClickMart» осуществляет сбор персональных данных только с согласия пользователя и исключительно для предоставления клиенту сервиса или услуги, требующей информации частного характера: покупка в интернет-магазине, участие в акциях. Для предотвращения утечки персональных данных клиента ООО «ClickMart» использует полный спектр мер информационной безопасности (технические и организационные).
Максимальный срок хранения персональных данных клиента составляет 75 лет с момента получения компанией информации частного характера. В других случаях компания хранит персональные данные клиента до прекращения своей деятельности.
Уничтожение, обезличивание или блокировка персональных данных или их части клиента производится для исключения возможности дальнейшей обработки данной информации.
При регистрации на сайте www.onlinetrade.ru, принадлежащем ООО «ОнЛайн Трейд», компания осуществляет сбор персональной информации клиента, необходимой для аутентификации пользователя/персонализации услуг/доставки заказа/обратной связи с клиентом:
имя пользователя;
e-mail, номер телефона и адрес (в случае доставки товара по какому-либо адресу);
дата рождения (в случае участия в программе начисления ON-бонусов на день рождения);
пароль от личного кабинета.
Информация о действиях пользователя:
сведения о соглашениях/договорах между клиентом и компанией;
информация о запросах и направленных в адрес компании обращениях;
данные о товарах, приобретенных клиентом и услугах, которыми клиент пользовался;
совершенные платежи и другая финансовая информация, предусмотренная законодательством РФ.
Цели обработки персональных данных клиентов ООО «ClickMart»:
продажа продукции и предоставление других услуг клиенту;
учет клиентских пожеланий (при разработке нового продукта или услуги);
информирование клиента об акциях, скидках и специальных предложениях посредством электронных и СМС-рассылок;
осуществление обратной связи с клиентом.
ООО «ClickMart» не предоставляет персональные данные клиентов третьим лицам, за исключением случаев:
получение прямого согласия пользователя на передачу его персональных данных третьему лицу;
по требованию правоохранительных органов в соответствии с действующим законодательством, а также для предоставления в органы судебной власти, уполномоченными представителями компании;
слияние или поглощение компании.
Использование ООО «ClickMart» файлов Cookies и точечных маркеров
Файлы Cookies дают возможность сбора следующей информации о клиенте: IP-адрес/операционная система/тип браузера/адреса ссылающихся сайтов. Это необходимо для улучшения услуг, предоставляемых клиенту компании (сохранение пароля на сайте www.onlinetrade.ru при закрытии браузера, анализ трафика и т.д.) Точечные маркеры служат для графического отражения на сайте безличной информации о пользователях (счетчики посетителей/просмотров на сайте). По своему желанию клиент в любой момент может предотвратить отслеживание своих действий, отключив Cookies.
</p>
</div>

{% endblock %}
