{% extends 'base1.html' %}

{% block title %}
<title>Доставка</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Доставка</h1>
<p>При оформлении заказа в нашем интернет-магазине вы всегда можете заказать доставку товара на дом или в офис ежедневно в удобное для Вас время.
К вашим услугам доступны следующие способы доставки
Стандартная доставка (на следующий день) — от 300 р. подробнее

в магазине технике и полученный результат при тестировании не может быть квалифицированно оценен. Большинство технически сложных товаров требует до начала их использования Вашего ознакомления с руководством по эксплуатации. В зимнее время года передача товара сопряжена с резким изменением температурного режима, поэтому немедленное включение электронной техники является нарушением условий эксплуатации.
Доставка по России через Транспортную компанию по предварительной оплате
Подробнее
</p>
</div>

{% endblock %}