{% extends 'base1.html' %}

{% block title %}
<title>Промокоды</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Промокоды</h1>
<p>В рамках Программы Лояльности для формирования и увеличения лояльности Пользователей сайта ООО «ClickMart» при участии Продавцов и Партнеров на постоянной основе проводит маркетинговую акцию, в рамках которой выпускает промокоды. При активации промокодов и соблюдении иных условий применения конкретных промокодов Продавцы/Партнеры предоставляют Пользователям Поощрение в виде скидки на Товары или Услуги. Промокоды распространяются ООО «ClickMart», Продавцами/Партнерами в рамках отдельных маркетинговых акций.
Пользователи, получившие промокод, вправе активировать его посредством соответствующего интерактивного функционала Сайта</p>
</div>

{% endblock %}